# GRPC
AUTH_GRPC_URL=localhost:50052

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/auth"

# Redis
REDIS_USER=default
REDIS_PASSWORD=redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Passport
PASSPORT_SECRET_KEY="SECRFETASDF"
PASSPORT_ACCESS_TTL=900 # 15 minutes
PASSPORT_REFRESH_TTL=86400 # 24 hours